<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>__TITLE__</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!--<li role="presentation" class="active"><a href="#">About</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">__TITLE__</h3>
      </div>

      <div>
        <!-- <p class="lead">News by day</p> -->
<!--begin.rcode  ComboExample, results='asis', tidy=FALSE, echo=FALSE
  cat(news.by.day.chart$html$chart)
end.rcode-->

      </div>

      <div class="row marketing">
        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top Languages</h3>
              </div>
              <div class="panel-body">


<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(language), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>
        </div> <!-- end col -->

        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top Sources</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(source), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>
         </div> <!-- end col -->

        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top categories</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(category), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>
        </div> <!-- end col -->
      </div>  <!-- end row -->


           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">News</h3>
              </div>
              <div class="panel-body">
<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
   if( !is.null(news.merged)) {
     for(c in news.merged[,1]) {
       if(c != '') {
         a=sprintf("<p>%s</p>\n", c)
         cat(a)
       }
     }
  }
end.rcode-->
              </div>
           </div>


      <footer class="footer">
        <p>Powered by OpenSource software: Apache <a href="http://hadoop.apache.org">Hadoop</a>,
            <a href="http://spark.apache.org">Spark</a> and 
             <a href="http://www.r-project.org">R</a> statistical language.
        </p>
      </footer>

    </div> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3122916-20', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>

